<div class="inmodal">
  <div class="modal-header" style="padding:14px"></div>
  <div class="modal-body">
    <div class="row">
      <form role="form" name="statusForm">
        <div class="col-md-12" ng-include src="'components/alert/alert.html'"></div>
        <div class="form-group">
          <label>New status</label>
          <select class="form-control m-b" ng-model="form.status" ng-disabled="form.isLoading">
            <option value="A">Active</option>
            <option value="5">Inactive - Duplicate account</option>
            <option value="4">Inactive - Member wanted account removed</option>
            <option value="6">Inactive - Deactivated for cheating</option>
          </select>
        </div>
        <div class="form-group">
          <label>Comment (optional)</label>
          <input ng-model="form.comment" type="text" class="form-control" ng-disabed="form.isLoading">
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="cancel()" ng-disabed="form.isLoading">
      Close
    </button>
    <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="!statusForm.$dirty || form.isLoading">
      Save
    </button>
  </div>
  <div style="text-align:center;position:absolute;top:65px;left:0;width:100%;height:100%;zIndex:1;"
      ng-show="form.isLoading">
    <img src="assets/images/loading.gif"/>
  </div>
</div>
