
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Users</h2>
  </div>
  <div class="col-lg-2">
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row" ng-controller="users.UserSearchController" ng-show="authorized()">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="row">
            <form role="form">
              <div class="col-md-10 col-md-offset-1" ng-include src="'components/alert/alert.html'"></div>
              <div class="form-group col-md-5">
                <label for="search-condition-handle">Handle</label>
                <input id="search-condition-handle" type="text" class="form-control"
                        ng-model="formSearch.handle" ng-disabled="formSearch.isLoading">
              </div>
              <div class="form-group col-md-5">
                <label for="search-condition-email">Email</label>
                <input id="search-condition-email" type="text" class="form-control"
                        ng-model="formSearch.email" ng-disabled="formSearch.isLoading">
              </div>
              <div class="col-md-2">
                <label for="search-condition-active">Status</label>
                <select class="form-control m-b" ng-model="formSearch.status" ng-disabled="formSearch.isLoading">
                    <option></option>
                    <option>active</option>
                    <option>inactive</option>
                </select>
              </div>
              <div class="col-md-10 text-left">
                <p class="text-muted">
                  Tips:<br>
                  - Wildcard(*) is available for partial matching. (e.g. ChrisB*, chris*@appirio.com) <br/>
                  - Maximum number of searched results is 500.
                </p>
              </div>
              <div class="col-md-2">
                <button ng-click="search()" ng-disabled="formSearch.isLoading"
                        type="submit" class="btn btn-sm btn-warning pull-right m-t-n-xs">
                  <strong>Find members</strong>
                </button>
              </div>             
            </form>

          </div>
      </div>
      <div class="ibox-content">
        <div class="text-center" ng-show="formSearch.isLoading">
          <img src="assets/images/loading.gif"/>
        </div>
        <div ng-show="!formSearch.isLoading" class="table-responsive">
          <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="50">
              <thead>
              <tr>
                  <th data-toggle="true" data-type="numeric">User ID</th>
                  <th>Handle</th>
                  <th>Primary Email</th>
                  <th data-hide="all">Name</th>
                  <th data-hide="all">User Status</th>
                  <th data-hide="all">Email Status</th>
                  <th data-hide="all">Created at</th>
                  <th data-hide="all">Modified at</th>
                  <th data-hide="all">Activation Code</th>
                  <th>User Active</th>
                  <th data-sort-ignore="true">Action</th>
              </tr>
              </thead>

              <tbody>
              <tr class="animate-repeat" ng-repeat="user in users">
                  <td>{{user.id}}</td>
                  <td>{{user.handle}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.firstName}} {{user.lastName}}</td>
                  <td>
                    {{user.statusDesc()}}
                    <span title="Change history" ng-click="openStatusHistoryDialog($index)">
                      <i class="fa fa-list-alt text-primary"></i>
                    </span>
                  </td>
                  <td>{{user.emailStatusDesc()}}</td>
                  <td>{{user.createdAtLabel()}}</td>
                  <td>{{user.modifiedAtLabel()}}</td>
                  <td>
                    {{user.credential.activationCode}}
                    <div class="input-group" style="width: 400px;">
                      <input type="text" value="{{user.getActivationLink()}}" class="form-control" readonly="readonly">
                      
                      <span class="input-group-btn" data-tooltip="{{tooltip.message}}" placement="right" title="Copy to clipboard">
                        <button clipboard text="user.getActivationLink()" type="button" class="btn btn-default"
                              on-copied="tooltip.success()" on-error="tooltip.fail(err)" ng-mouseleave="tooltip.reset()">
                          <i class="fa fa-clipboard text-primary"></i>
                        </button>
                      </span>
                      </span>
                    </div>
                  </td>
                  <td data-value="{{user.active}}">
                    <a href="#" ng-show="user.active"><i class="fa fa-check text-navy"></i></a>
                  </td>
                  <td>
                    <div class="btn-group" uib-dropdown >
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" uib-dropdown-toggle>
                            Edit <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                            <li><a href="" ng-click="openHandleEditDialog($index)">Handle</a></li>
                            <li><a href="" ng-click="openEmailEditDialog($index)">Primary Email</a></li>
                            <li><a href="" ng-click="openRolesEditDialog($index)">Roles</a></li>
                            <li><a href="" ng-click="openGroupsEditDialog($index)">Groups</a></li>
                            <li><a href="" ng-click="openSsoUserEditDialog($index)">SSO User</a></li>
                        </ul>
                    </div>
                    <a class="btn btn-sm btn-success" ng-show="!user.active" ng-click="activate($index)" style="margin-left: 4px">
                      Activate
                    </a>
                    <a class="btn btn-sm btn-danger" ng-show="user.active" ng-click="openDeactivateDialog($index)">
                      Deactivate
                    </a>
                  </td>
              </tr>
              </tbody>

              <tfoot>
              <tr>
                  <td colspan="5">
                      <ul class="pagination pull-right"></ul>
                  </td>
              </tr>
              </tfoot>
          </table>
        </div>
        <!-- table-responsive -->
      </div>
    </div>
  </div>
</div>
