<div class="wrapper wrapper-content animated fadeInRight" ng-show="authorized()">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form role="form" name="editClientForm" data-toggle="validator" novalidate>
                        <div class="row">
                            <div class="form-group col-md-6" ng-class="{'has-error': editClientForm.name.$touched && editClientForm.name.$invalid}">
                                <label for="client-name">Name</label>
                                <input id="client-name" type="text" class="form-control" ng-model="client.name" name="name" required="required">
                            </div>
                            <div class="form-group col-md-6" ng-class="{'has-error': editClientForm.codeName.$touched && editClientForm.codeName.$invalid}">
                                <label for="client-code-name">Code Name</label>
                                <input id="client-code-name" type="text" class="form-control" ng-model="client.codeName" name="codeName" required="required">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6" ng-class="{'has-error': editClientForm.startDate.$touched && editClientForm.startDate.$invalid}">
                                <label for="client-start-date">Start Date</label>
                                <input id="client-start-date" data-disable-keyboard type="text" class="form-control"
                                    datetime-picker="yyyy-MM-dd" is-open="startDateOpen" close-on-date-selection="true"
                                    ng-focus="openCalendar(null, 'startDate')"
                                    datepicker-options="startDateOptions"
                                    close-on-time-now="true" enable-time="false" save-as="ISO" when-closed="onStartDateCallback()"
                                    ng-model="client.startDate" name="startDate" required="required">
                            </div>
                            <div class="form-group col-md-6" ng-class="{'has-error': editClientForm.endDate.$touched && editClientForm.endDate.$invalid}">
                                <label for="client-end-date">End Date</label>
                                <input id="client-end-date" data-disable-keyboard type="text" class="form-control"
                                    datetime-picker="yyyy-MM-dd" is-open="endDateOpen" close-on-date-selection="true"
                                    ng-focus="openCalendar(null, 'endDate')"
                                    datepicker-options="endDateOptions" when-closed="onEndDateCallback()"
                                    close-on-time-now="true" enable-time="false" save-as="ISO"
                                    ng-model="client.endDate" name="endDate" required="required">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6" ng-class="{'has-error': editClientForm.status.$touched && editClientForm.status.$invalid}">
                                <label for="client-status">Status</label>
                                <select id="client-status" class="form-control" ng-model="client.status">
                                    <option value="active">Active</option>
                                    <option value="pending">Pending</option>
                                    <option value="disabled">Disabled</option>
                                </select>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="form-group col-md-12">
                                <button ui-sref="index.clients.list" type="button" class="btn btn-sm btn-warning m-l pull-right">
                                    <strong>Cancel</strong>
                                </button>
                                <button ng-click="submitClient()" type="submit" class="btn btn-sm btn-success pull-right" ng-disabled="editClientForm.$invalid || processing">
                                    <strong>Save Changes</strong>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>