<div class="inmodal">
    <div class="modal-header" style="padding:14px">
        <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-show="!edit" id="reg-dialog-label">Add member</h4>
        <h4 class="modal-title" ng-show="edit" id="reg-dialog-label">Edit {{user.name}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form role="form" name="handleForm">
                <div class="col-md-12" ng-include src="'components/alert/alert.html'"></div>
                <div class="text-center" ng-show="isLoading">
                    <img src="assets/images/loading.gif" />
                </div>
                <div class="form-group">
                    <label>Handle</label>
                    <input ng-model="form.handle" type="text" class="form-control" ng-required="true"
                        ng-disabled="edit">
                </div>
                <div class="form-group">
                    <p class="text-muted">
                        Tips:<br>
                        - Wildcard(*) is available for partial matching. (e.g. ChrisB*) <br />
                        - Use the first mached item
                    </p>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input ng-model="form.watch" type="checkbox" class="form-check-input" id="chkWatch">
                        <label class="form-check-label" for="chkWatch">Watch</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input ng-model="form.follow" type="checkbox" class="form-check-input" id="chkFollow">
                        <label class="form-check-label" for="chkFollow">Follow</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()" ng-disabed="form.isLoading">
            Close
        </button>
        <button type="button" ng-show="!edit" class="btn btn-primary" ng-click="submit()"
            ng-disabled="form.isLoading || handleForm.$invalid">
            Save
        </button>
        <button type="button" ng-show="edit && !group.archived" class="btn btn-primary" ng-click="submit()"
            ng-disabled="form.isLoading || handleForm.$invalid">
            Update
        </button>
    </div>
</div>