
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Projects</h2>
  </div>
  <div class="col-lg-2">
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row" ng-show="vm.authorized()">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="row">
            <div class="col-md-10 col-md-offset-1" ng-include src="'components/alert/alert.html'"></div>
          </div>
          
          <!-- Original search of projects. -->
          <div class="row">
            <div class="form-group col-md-12">                
              <form>
                <div class="row">
                  <div class="col-md-4">
                    <label for="search-condition">Search</label>
                  </div>
                  <div class="col-md-2">
                    <label for="search-status">Status</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4"">
                    <input id="search-condition" type="text" class="form-control"
                           ng-model="vm.formSearch.search" ng-disabled="vm.formSearch.isLoading">
                  </div>
                  <div class="col-md-2">                    
                    <select class="form-control m-b"
                            id="search-status"
                            ng-disabled="vm.formSearch.isLoading"
                            ng-model="vm.formSearch.status">
                      <option ng-repeat="s in statuses">{{ s | capitalize }}</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-sm btn-warning pull-left"
                            ng-click="vm.findProjects()"
                            ng-disabled="vm.formSearch.isLoading"
                            type="submit">
                      <strong>Find Project(s)</strong>
                    </button>
                  </div>             
                </div>
                <div class="row">
                  <div class="col-md-10 text-left">
                    <p class="text-muted">
                      Tips:<br>
                      - Wildcard(*) is available for partial matching. (e.g. Proj*, Test*) <br/>
                      - Maximum number of searched results is 500.
                    </p>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!--
            Additional search by user handle or e-mail address.
            At the moment it is implemented on the client side.
          -->
          <div class="row">
            <div class="col-md-12">
              <form>
                <div class="row">
                  <div class="col-md-4">
                    <label for="search-by-user-handle-or-email">
                      Search by user handle or e-mail address
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <input class="form-control input-sm"
                           id="search-by-user-handle-or-email"
                           ng-disabled="vm.formSearch.isLoading"
                           ng-model="vm.formSearch.handleOrEmail"
                           placeholder="Example: UserName or user@mail.com"/>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-sm btn-warning"
                            ng-click="vm.findByHandleOrEmail()"
                            ng-disabled="vm.formSearch.isLoading"
                            type="submit">
                      <strong>Find Project(s)</strong>
                    </button>
                  </div>
                </div>
              </form>
            </div>          
          </div>
          <br/>

        </div>

        <div class="ibox-content">
          <div class="text-center" ng-show="vm.formSearch.isLoading">
            <img src="assets/images/loading.gif"/>
          </div>
          <div ng-show="!vm.formSearch.isLoading && projects.length == 0">
            <p> No Projects found. </p>
          </div>
          <div ng-show="!vm.formSearch.isLoading && projects.length != 0">
            <table class="footable table table-stripped toggle-arrow-tiny"
                   data-sort="true"
                   data-page-size="50">
              <thead>
                <tr>
                  <th>Name</th>
                  <th data-sort-initial="true">Project ID</th>
                  <th>Type</th>
                  <th>Owner</th>
                  <th>Copilot</th>
                  <th data-type="date">Submit Date</th>
                  <th>Current Status</th>
                  <th>Current Work Step</th>
                  <th>TC Direct ID</th>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="proj in projects" data-expanded="true">
                <td>
                    <a ng-href="{{ '#/index/work/list/' + proj.id }}"
                       ui-sref="index.work.list({id: proj.id})">
                      {{proj.name}}
                    </a>
                  </td>
                  <td>{{proj.id}}</td>                  
                  <td>{{proj.projectType }}</td>
                  <td>
                    <a ng-href="{{ proj.owner.handle | tcPrivateProfileLink }}">
                      <!-- In case the owner's member object has not been found,
                           we show his ID as the fallback. -->
                      {{proj.owner && proj.owner.handle ?
                        proj.owner.handle : proj.ownerId}}
                    </a>
                  </td>
                  <td>
                    <a data-ng-if="proj.copilotId && proj.copilotId !== 'unassigned'" ng-href="{{ proj.copilot.handle | tcPrivateProfileLink}}">
                      <!-- In case the copilot's member object has not been
                           found, we show his ID as the fallback. -->
                      {{proj.copilot && proj.copilot.handle ?
                        proj.copilot.handle : proj.copilotId}}
                    </a>
                    {{proj.copilotId === 'unassigned' ? proj.copilotId : ''}}
                  </td>
                  <td>
                    <!-- display submitted date column
                         don't supply `true` to fmtDate as second argument, if you want previous behavior
                         i.e) { proj.submittedAt | fmtDate } -->
                    {{proj.submittedAt | fmtDate: true }}
                  </td>
                  <td>{{proj.status | capitalize }}</td>
                  <td>{{proj.currentStep}}</td>
                  <td>
                    <a ng-href="{{proj.tcDirectId | tcDirectLink}}">
                      {{proj.tcDirectId}}
                    </a>
                  </td>
                </tr>
              </tbody>

              <tfoot>
                <tr>
                  <td colspan="8">
                    <ul class="pagination pull-right"></ul>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
