<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Edit a Project Step</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" ng-show="authorized()">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <form role="form" class="form-horizontal">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1" ng-include src="'components/alert/alert.html'"></div>
                        </div>
                        <div ng-hide="found">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">                                    
                                    {{ 'no project step found for id: ' + stepId  }}    
                                </div>                                
                            </div>
                        </div>
                        <div ng-show="found">
                            <div class="form-group clearfix">
                                <div class="col-sm-2 control-label">Project Id</div>
                                <div class="col-sm-10 control-label">
                                    <span class="pull-left">{{ projectId }}</span>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-sm-2 control-label">Step Id</div>
                                <div class="col-sm-10 control-label">
                                    <span class="pull-left">{{ stepId }}</span>
                                </div>                                
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-sm-2 control-label">Step Type</div>
                                <div class="col-sm-10 control-label">
                                    <span class="pull-left">{{ stepType | capitalize }}</span>
                                </div>                                
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-sm-2 control-label">Created By</div>
                                <div class="col-sm-10 control-label">
                                    <span class="pull-left"><a href="javascript:;;" ng-href="{{ stepCreator | tcProfileLink }}">{{ stepCreatorHandle ? stepCreatorHandle : stepCreator }}</a></span>
                                </div>                                
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-sm-2 control-label">Created At</div>
                                <div class="col-sm-10 control-label">
                                    <span class="pull-left">{{ stepCreatedAt | fmtDate }}</span>
                                </div>                                
                            </div>
                            <div class="form-group">
                                <label for="status" class="col-sm-2 control-label">Status</label>
                                <div class="col-sm-2">
                                    <select id="status" name="status" class="form-control m-b" ng-model="stepItem.status">
                                        <option ng-repeat="s in STATUS">{{ s }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="startsAt" class="col-sm-2 control-label">Starts At</label>                            
                                <div class="col-sm-6">                                      
                                    <p class="input-group">
                                        <input data-disable-keyboard type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm" ng-model="stepItem.startsAt" is-open="startsAtOpen" ng-click="openCalendar(null, 'startsAt')"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'startsAt')"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="endsAt" class="col-sm-2 control-label">Ends At</label>
                                <div class="col-sm-6">
                                    <p class="input-group">
                                        <input data-disable-keyboard type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm" ng-model="stepItem.endsAt" is-open="endsAtOpen" ng-click="openCalendar(null, 'endsAt')" when-closed="validateEndTime(args)"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'endsAt')"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </p>                                
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-6">
                                    
                                    <a href="javascript:;;" class="btn btn-sm btn-warning" ui-sref="index.work.list({id: projectId})">
                                        <strong>Cancel</strong>
                                    </a> 
                                    <a href="javascript:;;" class="btn btn-sm btn-success" ng-click="putProjectStep()">
                                        <strong>Save Changes</strong>
                                    </a> 
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ibox-content" ng-show="isLoading">
                    <div class="text-center">
                        <img src="assets/images/loading.gif" />
                    </div>
                </div>
                <div ui-view=""></div>
            </div>
        </div>
    </div>
</div>
