<dl class="dl-horizontal">
  <br/>
  <dt><u>Summary</u></dt>
    <dd>
      <dt>Name </dt>
      <dd><a ng-href="{{ workObj.id | tcConnectLink }}">{{workObj.name}}</a></dd>
      <dt>Project Type</dt>
      <dd>{{workObj.projectType}}</dd>
      <dt>Status</dt>
      <dd>{{workObj.status}}  {{workObj.statusNotes ? '(' + workObj.statusNotes + ')' : '' }}</dd>
      <dt>Notes</dt>
      <dd>{{workObj.brief}}</dd>
    </dd>
    <hr>
    <dt><u>Resources</u></dt>
    <dd>
      <dt>Owner</dt>
      <dd>
        <a data-ng-if="workObj.ownerId" ng-href="{{ workObj.ownerId | tcProfileLink}}">
          <!-- In case the owner's member object has not been found,
               we show his ID as the fallback. -->
          {{workObj.owner ? workObj.owner.handle : workObj.ownerId }}
        </a>
        <span ng-if="workObj.owner && workObj.owner.email">
          (<a href="mailto:{{workObj.owner.email}}">
            {{workObj.owner.email}}</a> )
        </span>
      </dd>
      <dt>Copilot</dt>
      <dd>
        <a data-ng-if="workObj.copilotId && workObj.copilotId !== 'unassigned'" ng-href="{{ workObj.copilotId | tcProfileLink}}">
          <!-- In case the owner's member object has not been found,
               we show his ID as the fallback. -->
          {{workObj.copilot ? workObj.copilot.handle : workObj.copilotId}}
        </a>
        <span ng-if="workObj.copilot && workObj.copilot.email">
          (<a href="mailto:{{workObj.copilot.email}}">
            {{workObj.copilot.email}}</a> )
        </span>
        {{ workObj.copilotId === 'unassigned' ? 'unassigned' : ''}}
      </dd>
    </dd>
    <hr>
    <dt><u>Estimate</u></dt>
    <dd>
      <dt>Price</dt>
      <dd>{{workObj.price}} {{workObj.priceCurrency}}</dd>
      <dt>Estimate</dt>
      <dd>{{workObj.costEstimate.low}} - {{workObj.costEstimate.high}} {{workObj.priceCurrency}}</dd>
      <dt>Quoted Amount</dt>
      <dd>{{workObj.quotedAmount}}</dd>
    </dd>
    <hr>
    <dt><u>Design Requirements</u></dt>
    <dd>
      <dt>Design Url(s)</dt>
      <dd>{{workObj.designUrls.length > 0 ? workObj.designUrls.join(', ') : '-'}}</dd>
      <dt>Design Notes</dt>
      <dd>{{workObj.designNotes}}</dd>
    </dd>
    <hr>
    <dt><u>Misc</u></dt>
    <dd>
      <dt>TCDirect Project</dt>
      <dd>
        <a href="{{workObj.tcDirectId | tcDirectLink}}">
          {{workObj.tcDirectId}}
        </a>
      </dd>
    </dd>
    <hr>
    <dt><u>Project Features</u></dt>
    <dd>
      <table class="table">
        <thead>
          <tr>
            <td>Category</td>
            <td>Title</td>
            <td>Custom</td>
            <td>Files</td>
            <td>Description</td>
            <td>Notes</td>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in workObj.features">
          <td>{{p.category}}</td>
          <td>{{p.title}}</td>
          <td>{{p.custom}}</td>
          <td>{{p.fileIds.length > 0 ? p.fileIds.join(', ') : '-'}}</td>
          <td>{{p.description}}</td>
          <td>{{p.notes}}</td>
        </tr>
      </tbody>
    </table>
  </dd>
</dl>
<div class="ibox-content" ng-show="workSearch.isLoading">
  <div class="text-center">
    <img src="assets/images/loading.gif" />
  </div>
</div>
