<div ng-show="projectSearch.isLoading">
    <div class="text-center">
        <img src="assets/images/loading.gif" />
    </div>
</div>
<div ng-show="!projectSearch.isLoading &&
             (!project || 
              !project.projectThread ||
              !project.projectThread.messages.length)">
    <br/>    
    <p>No messages related to this project.</p>
</div>
<div ng-hide="projectSearch.isLoading || !project ||
              !project.projectThread ||
              !project.projectThread.messages.length">
    <br/>
    <button ng-click="findProject()" type="submit" class="btn btn-sm btn-info">
      <strong><i class="fa fa-refresh"></i> Reload</strong>
    </button>
    <br/>
    <table class="table table-responsive table-stripped footable">
      <tbody>
        <tr ng-repeat="msg in project.projectThread.messages">
          <td class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <strong>Created At</strong> {{fancyDate(msg.createdAt)}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <div class="row">
                  <div class="col-md-12">
                    <img class="img-responsive"
                      src="../../assets/images/avatar-placeholder.png"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <strong>{{msg.publisher.handle}}</strong>
                  </div>
                </div>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-md-12">
                    {{msg.body}}
                  </div>
                </div>
                <div class="row" ng-show="msg.attachments.length">
                  <div class="col-md-12" style="height:50">
                    <strong>Attachments</strong>
                  </div>
                </div>
                <div class="row" ng-repeat="obj in msg.attachments">
                  <div class="col-md-12">
                    <a href="{{obj.filePath}}">
                      <img src="{{obj.thumbnailUrl}}"/>
                      {{obj.fileName}}
                    </a>
                  </div>
                <div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>        

