<div ng-controller="AlertController">
    <div class="alert alert-{{alert.style()}} alert-dismissible text-center word-wrap" role="alert"
          ng-repeat="alert in alerts">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="closeAlert($index)">
            <span aria-hidden="true">&times;</span>
        </button>
        <span ng-if="!isArray(alert.message)">
            {{alert.message}}
        </span>
        <ul class="list-unstyled" ng-if="isArray(alert.message)">
            <li ng-repeat="message in alert.message">{{message}}</li>
        </ul>
    </div>
<div>
  