<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" ng-show="authorized()">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <form role="form">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1" ng-include src="'components/alert/alert.html'"></div>
                            <div class="form-group col-md-12">
                                <label for="search-condition-handle">Tag</label>
                                <div class="row">
                                    <div class="col-md-4 ">
                                        <input id="search-condition-handle" type="text" class="form-control" ng-model="tagName" ng-disabled="isLoading" ng-trim="true">
                                    </div>
                                    <div class="col-md-4 no-padding-left">
                                        <button ng-click="findTag()" ng-disabled="isLoading" type="submit" class="btn btn-sm btn-warning pull-left">
                                            <strong>Find tag</strong>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ibox-content" ng-show="isLoading">
                    <div class="text-center">
                        <img src="assets/images/loading.gif" />
                    </div>
                </div>
                <div class="ibox-title" ng-hide="isLoading" >
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-8">
                                    <button ui-sref="index.tags.new" type="submit" class="btn btn-sm btn-info pull-right">
                                        <strong><i class="fa fa-plus"></i> New Tag</strong>
                                    </button>
                                    <button class="btn btn-sm btn-warning pull-right" style="margin-right: 20px;" ng-click="syncFromInformix()">
                                        <strong>Sync Informix</strong>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="text-center" ng-show="isLoading">
                                <img src="assets/images/loading.gif"/>
                            </div>
                            <div ng-show="!isLoading && tags.length === 0">
                                <p> No Tags found. </p>
                            </div>
                            <div ng-hide="isLoading || tags.length === 0">
                                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="50" id="tagsTable" data-sort="true">
                                    <thead>
                                    <tr>
                                        <th data-type="numeric">ID</th>
                                         <th data-sort-initial="true">Name</th>
                                         <th>Domain</th>
                                        <th data-type="numeric">Priority</th>
                                         <th data-hide="all" data-sort-ignore="true">Synonyms</th>
                                         <th data-hide="all" data-sort-ignore="true">Categories</th>
                                         <th data-hide="all" data-sort-ignore="true">Created At</th>
                                         <th data-hide="all" data-sort-ignore="true">Modified At</th>
                                         <th data-hide="all" data-sort-ignore="true">Created By</th>
                                         <th data-hide="all" data-sort-ignore="true">Modified By</th>
                                         <th data-hide="all" data-sort-ignore="true"></th>
                                         <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="tag in tags"  data-expanded="true">
                                        <td>{{tag.id}}</td>
                                         <td>{{tag.name}} </td>
                                         <td>{{tag.domain? tag.domain.join(","):''}}</td>
                                        <td>{{tag.priority}}</td>
                                       <td>{{tag.synonyms? tag.synonyms.join(","):''}}</td>
                                        <td>{{showCategories(tag.categories)}}</td>
                                        <td>{{tag.createdAt}}</td>
                                        <td>{{tag.updatedAt}}</td>
                                        <td>{{tag.createdBy}}</td>
                                        <td>{{tag.updatedBy}}</td>
                                        <td>
                                           <div class="row">
                                                <div class="col-md-3">
                                                    <a  href="javascript:;" data-ng-click='deleteTag(tag)' class="btn btn-sm btn-danger">
                                                    <strong>Delete Tag</strong>
                                                </a></div>
                                                <div class="col-md-4 col-md-offset-4">
                                                    <a  href="javascript:;" data-ng-click='editTag(tag.id)' class="btn btn-sm btn-success">
                                                        <strong>Edit Tag</strong>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{showLabel(tag.status,getTagStatuses(tag.domain))}}</td>
                                      </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <ul class="pagination pull-right"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

