<div class="ibox-title" style="margin-top: 10px">
  <form role="form" name="addForm" data-toggle="validator" novalidate>
    <div class="row">
      <div class="form-group col-md-6" ng-class="{'has-error': addForm.title.$touched && addForm.title.$invalid}">
        <label for="terms-title">Title</label>
        <input id="terms-title" type="text" class="form-control" ng-model="newTerms.title" name="title" required>
      </div>
      <div class="form-group col-md-6">
        <label for="terms-url">URL</label>
        <input id="terms-url" type="text" class="form-control" ng-model="newTerms.url">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12"
        ng-class="{'has-error': addForm.termsText$touched && addForm.termsText.$invalid}">
        <label for="terms-text">Text</label>
        <textarea rows="5" id="terms-text" ng-model="newTerms.text" name="termsText" class="form-control"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6"
        ng-class="{'has-error': addForm.agreeabilityType.$touched && addForm.agreeabilityType.$invalid}">
        <label for="terms-agreeability-type">Agreeability Type</label>
        <select id="terms-agreeability-type" class="form-control m-b"
          ng-change="agreeabilityTypeChange(newTerms.agreeabilityTypeId)"
          ng-options="agreeabilityType.id as agreeabilityType.name for agreeabilityType in agreeabilityTypes"
          ng-model="newTerms.agreeabilityTypeId" name="agreeabilityType" required>
        </select>
      </div>
      <div class="form-group col-md-6"
        ng-class="{'has-error': addForm.docusignTemplateId.$touched && addForm.docusignTemplateId.$invalid}">
        <label for="terms-docusign-template-Id">Docusign Template ID</label>
        <input id="terms-docusign-template-Id" type="text" name="docusignTemplateId" class="form-control"
          ng-disabled="!isDocuSignFieldEnabled" ng-required="isDocuSignFieldEnabled"
          ng-model="newTerms.docusignTemplateId">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="terms-legacy-Id">Legacy ID</label>
        <input id="terms-legacy-Id" type="number" class="form-control" ng-model="newTerms.legacyId">
      </div>
      <div class="form-group col-md-6" ng-class="{'has-error': addForm.typeId.$touched && addForm.typeId.$invalid}">
        <label for="terms-type-id">Type ID</label>
        <input id="terms-type-id" type="number" class="form-control" ng-model="newTerms.typeId" name="typeId" required>
      </div>
    </div>
    <div class="row ">
      <div class="form-group col-md-12">
        <button ui-sref="index.terms.list" type="button" class="btn btn-sm btn-warning pull-right"
          style="margin-left: 4px">
          <strong>Cancel</strong>
        </button>
        <button ng-click="createTermsOfUse() " type="submit" class="btn btn-sm btn-success pull-right"
          ng-disabled="addForm.$invalid || processing">
          <strong>Save Changes</strong>
        </button>
      </div>
    </div>
  </form>
</div>