<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-10 col-lg-12" ng-include src="'components/alert/alert.html'"></div>
</div>
<div ui-view="">
    <div class="wrapper wrapper-content animated fadeInRight" ng-show="authorized()">
        <div class="row">
            <div class="col col-md-12 col-lg-12">
                <a class="btn btn-primary pull-right m-b m-l-lg" ui-sref="index.terms.list">
                    <strong>Back</strong>
                </a>
                <a class="btn btn-info pull-right m-b" href="javascript:;" ng-click="openAddUserDialog()">
                    <strong><i class="fa fa-plus"></i> Add Terms</strong>
                </a>
            </div>
        </div>
        <!-- list members row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="row">
                        </div>
                        <div class="row"
                            style="border-top: 1px solid #e7eaec; padding-top: 15px; padding-bottom: 8px; margin-top: 7px;">
                            <div class="col col-md-12 col-lg-12">
                                <form role="form" name="filterForm" novalidate="novalidate">
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label for="userId">User Id</label>
                                            <input id="userId" type="text" class="form-control"
                                                ng-model="filterCriteria.userId" name="userId" ng-disabled="isLoading">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="sign-terms-from">Signed From</label>
                                            <input id="sign-terms-from" type="text" class="form-control"
                                                   datetime-picker="yyyy-MM-dd" is-open="calender.signTermsFromOpen" close-on-date-selection="true"
                                                   ng-focus="openCalendar(null, 'signTermsFrom')"
                                                   close-on-time-now="true" enable-time="false" save-as="ISO"
                                                   ng-model="filterCriteria.signTermsFrom" name="sign-terms-from"
                                                   ng-disabled="isLoading">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="sign-terms-to">Signed To</label>
                                            <input id="signTermsTo" type="text" class="form-control"
                                                   datetime-picker="yyyy-MM-dd" is-open="calender.signTermsToOpen" close-on-date-selection="true"
                                                   ng-focus="openCalendar(null, 'signTermsTo')"
                                                   close-on-time-now="true" enable-time="false" save-as="ISO"
                                                   ng-model="filterCriteria.signTermsTo" name="sign-terms-to"
                                                   ng-disabled="isLoading">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-12 col-lg-12">
                                            <button class="btn btn-primary btn-sm pull-right" ng-click="applyFilter();"
                                                ng-disabled="isLoading">Filter</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="text-center" ng-show="isLoading">
                            <img src="assets/images/loading.gif" />
                        </div>
                        <div ng-show="!isLoading" class="table-responsive">
                            <table class="footable table table-stripped toggle-arrow-tiny" ng-show="data.length"
                                data-page-size="20">
                                <thead>
                                    <tr>
                                        <th data-sort-ignore="true"><input type="checkbox" ng-model="selection.isAllSelected"
                                                ng-change="toggleAll(); checkSelected();" /></th>
                                        <th data-type="numeric">User Id</th>
                                        <th>Handle</th>
                                        <th data-sort-ignore="true">&nbsp;</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="animate-repeat" ng-repeat="member in data" id="{{member.id}}">
                                        <td><input type="checkbox" ng-model="member.isSelected"
                                                ng-change="checkSelected();" /></td>
                                        <td>{{member.id}}</td>
                                        <td>
                                            <span ng-if="users[member.id]">{{users[member.id]}}</span>
                                            <span class="text-info"
                                                ng-if="member.id && !users[member.id]">loading...</span>
                                        </td>
                                        <td>
                                            <button data-ng-click='removeMember(member)' class="btn btn-sm btn-danger"
                                                ng-disabled="member.isRemoving">
                                                <strong>Remove</strong>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                
                                <tfoot>
                                    <tr>
                                    <td colspan="6">
                                        <ul class="pagination pull-right">
                                        <li class="footable-page-arrow" ng-class="{'disabled': pageNumber === 1}"><a
                                            ng-click="changePage(1)">«</a></li>
                                        <li class="footable-page-arrow" ng-class="{'disabled': pageNumber === 1}">
                                            <a ng-click="changePage(pageNumber - 1)">‹</a>
                                        </li>
                                        <li class="footable-page" ng-class="{'active' : item === pageNumber}"
                                            ng-repeat="item in getPageArray()">
                                            <a ng-click="changePage(item)">{{item}}</a></li>
                                        <li class="footable-page-arrow" ng-class="{'disabled': pageNumber === getLastPage()}">
                                            <a ng-click="changePage(pageNumber + 1)">›</a>
                                        </li>
                                        <li class="footable-page-arrow" ng-class="{'disabled': pageNumber === getLastPage()}">
                                            <a ng-click="changePage(getLastPage())">»</a>
                                        </li>
                                        </ul>
                                    </td>
                                    </tr>
                                </tfoot>
                            </table>
                            <div ng-show="!data.length">No users</div><br />

                            <button data-ng-click='removeSelected()' class="btn btn-sm btn-danger"
                                ng-disabled="!hasSelected || isProcessing" ng-show="data.length"><strong>Remove
                                    Selected</strong></button>
                        </div>
                        <!-- table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>