<div class="challenge-users-stats">
  <span class="challenge-users-stats-type" alt="{{registrants}} registrants">
    <i class="glyphicon glyphicon-user"></i>
    <span>{{registrants}}</span>
  </span>
  <span class="challenge-users-stats-type" alt="{{submissions}} submissions">
    <i class="glyphicon glyphicon-file"></i>
    <span>{{submissions}}</span>
  </span>
  <span class="challenge-users-stats-type" alt="{{groups}} groups" ng-if="groups > 0">
    <i class="glyphicon glyphicon-tower"></i>
    <span>{{groups}}</span>
  </span>
</div>
