<div class="challenge-users-stats">
  <span class="challenge-users-stats-type" title="{{registrants}} registrants" alt="{{registrants}} registrants">
    <i class="fa fa-user"></i>
    <span>{{registrants}}</span>
  </span>
  <span class="challenge-users-stats-type" title="{{submissions}} submissions" alt="{{submissions}} submissions">
    <i class="fa fa-file"></i>
    <span>{{submissions}}</span>
  </span>
  <span class="challenge-users-stats-type" title="{{groups}} groups" alt="{{groups}} groups">
    <i class="fa fa-group"></i>
    <span>{{groups}}</span>
  </span>
</div>
