<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="NavController">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <img src="assets/images/logo.png" />
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.main"><i class="fa fa-laptop"></i> <span class="nav-label">Dashboard</span> </a>
            </li>
            <li ui-sref-active="active">
                <a href="#"><i class="fa fa-male"></i> <span class="nav-label">User Management</span>
                <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a ui-sref="index.users">User</a></li>
                    <li><a ui-sref="index.admintool">Admins / Copilots / Reviewers</a></li>
                    <li><a ui-sref="index.addmembers">Import Users</a></li>
                    <li><a ui-sref="index.sso">Import SSO Users</a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a href="#">
                    <i class="fa fa-male"></i>
                    <span class="nav-label">Permission Management</span>
                    <span class="fa arrow"></span></a>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li><a ui-sref="index.permission_management">Roles</a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a href="#"><i class="fa fa-male"></i> <span class="nav-label">Billing Account</span>
                <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a ui-sref="index.clients.list">Clients</a></li>
                    <li><a ui-sref="index.billingaccounts.list">Billing Accounts</a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.submissions.list"><i class="fa fa-cloud-upload"></i> <span class="nav-label">Submissions</span> </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.tags.list"><i class="fa fa-tags"></i> <span class="nav-label">Tags</span> </a>
            </li>
        </ul>
    </div>
</nav>
